@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --cor-vinho: #66121f;
  --cor-hover: #4a0d16;
  --bg-fundo: #f0f2f5;
}
h1,
h2,
h3,
h4,
h5,
.bi {
  color: var(--cor-vinho) !important;
}

.logo-icon,
.logo-text {
  color: var(--cor-vinho) !important;
}

.text-brand {
  color: var(--cor-vinho) !important;
}

.app-header .bi,
.app-header h1,
.app-header h2,
.app-header h3,
.bg-brand .bi,
.bg-brand span,
.btn-brand .bi,
.btn-brand span {
  color: var(--cor-vinho) !important;
}
body {
  background-color: #c3c3c3;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  padding-bottom: 50px;
}

.screen-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 375px;
  min-height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: var(--cor-vinho) !important;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.custom-input {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding: 10px 0;
  width: 100%;
  outline: none;
}
.custom-input:focus {
  border-bottom: 2px solid var(--cor-vinho);
}

.btn-brand {
  background-color: var(--cor-vinho);
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.btn-brand:hover {
  background-color: var(--cor-hover);
}

.list-action {
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.list-action:hover {
  background-color: #f9f9f9;
}

.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 auto 10px auto;
}
.icon-circle i {
  color: var(--cor-vinho) !important;
}

.divider {
  height: 1px;
  background-color: #eee;
  margin: 0;
}
.fw-600 {
  font-weight: 600;
}
.fs-7 {
  font-size: 0.85rem;
}
.badge-ola {
  background-color: var(--cor-vinho) !important;
  color: white !important;
}
